export(theme_minimal_btt)
export(theme_minimal_tt)
export(theme_tt)
export(theme_minimal_bttx)
export(theme_minimal_ttx)
export(laranja_sarto)
export(loc.label)
export(get_middle)
export(wd)
export(flextheme)
export(make_plot_gif)
export(make_gif)
export(get_TM)
export(exec_fun)
export(zap_message)
export(file2clip)
export(Filter2)
export(read_kmz)
export(get_ciclo_net)
export(table_perc)
export(get_cycle_net)
export(ld_future_pkgs)
export(get_layer)
export(plot_leaf)
export(config_gargle_sheets)
export(config_gargle_drive)
export(view_plot)
S3method(LDA::view_plot,ggplot)
S3method(LDA::view_plot,default)
export(lda_install)
